{% extends "assets/layout.html" %}
{% block body %}



<div class=" container p-12">


    <div class=" row p-12">

        <h5 class="text-center">Tahmin edicilerin simülasyonları</h5>
        <p class="text-center">Anlatılan tahmin edicilerin simülasyon değerleri</p>
        <div class="col-md-12 col-sm-12">
            <form method="post" action="/nsimulation">
                n <input type="number" class="form-control" min="1" step="number" name="n" required
                    placeholder={{n}}><br>
                alpha <input type="number" class="form-control" min="0" step="any" name="alpha" required
                    placeholder={{alpha}}><br>
                beta<input type="number" class="form-control" min="0" step="any" name="beta" required
                    placeholder={{beta}}><br>
                eta <input type="number" class="form-control" min="0im" step="any" name="eta" required
                    placeholder={{eta}}><br>
                <input type="submit" class="btn btn-primary" value="Gonder">
            </form>
        </div>
        <div class="col-md-12col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Method</th>
                        <th>alpha</th>
                        <th>beta</th>
                        <th>eta</th>
                        <th>k-s</th>
                        <th>aic</th>
                        <th>MSE </th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="table-light">
                        <td>gercek deger</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="table-light">
                        <td>cma-es(ml)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                </tbody>
            </table>

        </div>

    </div>


    {% endblock %}