{% extends "assets/layout.html" %}
{% block body %}


<center>
<div>
    <object
      data='https://pdfjs-express.s3-us-west-2.amazonaws.com/docs/choosing-a-pdf-viewer.pdf'
      type="application/pdf"
      width="500"
      height="678"
    >

      <iframe
        src='https://pdfjs-express.s3-us-west-2.amazonaws.com/docs/choosing-a-pdf-viewer.pdf'
        width="500"
        height="678"
      >
      <p>This browser does not support PDF!</p>
      </iframe>
    </object>
  </div>

</center>

{% endblock %}