{% extends "assets/layout.html" %}
{% block body %}


<div class="pdf-container">
    <center>
        <object
            data='https://pdfjs-express.s3-us-west-2.amazonaws.com/docs/choosing-a-pdf-viewer.pdf'
            type="application/pdf"
            class="pdf-object"
        >
            <iframe
                src='https://pdfjs-express.s3-us-west-2.amazonaws.com/docs/choosing-a-pdf-viewer.pdf'
                class="pdf-iframe"
            >
                <p>This browser does not support PDF!</p>
            </iframe>
        </object>
    </center>
</div>

{% endblock %}